<p style="line-height: 64px; font-size: 70px; white-space: inherit;"><span style="font-family: custom_191; font-weight: 300; font-style: normal; letter-spacing: -3.8px; color: #3c3c3c;"><span><i class="fas fa-dragon" style="font-size:80px;color:red;text-shadow:2px 2px 4px #000000;"></i> 

CovAct

 </p>

<div class="section">
    <p class="lead" style="line-height: 74px; font-size: 20px; white-space: inherit;"><span style="font-family: custom_191; font-weight: 400; font-style: normal; letter-spacing: -1.0px; color: #3c3c3c;"><span>
        Create private and public requests to the userbase</span></p>
</div>

<div class="divider"></div>

<div class="section">
    <a href="/auth/google" class="btn black darken-1">
        <i class="fab fa-google left"></i> Login
        with your google account
    </a>
</div>